// Body
$body-bg: #f8fafc;

// Typography
$body-font-family: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color

$primary: #03689e;
$secondary: #f7d862;
$ascent: #d7f0fd;
